.shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: var(--space-lg);
  padding-bottom: 60px;
}

.contentDesktop {
  overflow-y: visible;
  padding-bottom: 56px;
}

@media (min-width: 900px) {
  .shell {
    max-width: 1200px;
  }
}
