@import './styles/tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  body * {
    visibility: hidden;
  }
  [data-dugout-card],
  [data-dugout-card] * {
    visibility: visible;
  }
  [data-dugout-card] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  @page {
    size: landscape;
    margin: 0.5in;
  }
}
